---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Cashfree",
    icon: "frameworks/react",
    url: "https://reactjs.org/",
    cfIcon: "cashfree",
  },
  {
    title: "PayU",
    icon: "frameworks/preact",
    url: "https://preactjs.com/",
    cfIcon: "payu",
  },
  {
    title: "PayTM",
    icon: "frameworks/svelte",
    url: "https://svelte.dev/",
    cfIcon: "paytm",
  },
  {
    title: "PhonePe",
    icon: "frameworks/vue",
    url: "https://vuejs.org/",
    cfIcon: "phonepe",
  },
  {
    title: "Razorpay",
    icon: "frameworks/solid",
    url: "https://www.solidjs.com/",
    cfIcon: "razorpay",
  },
  {
    title: "CCAvenue",
    icon: "frameworks/lit",
    url: "https://lit.dev/",
    cfIcon: "ccavenue",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "HDFC Bank",
    icon: "platforms/netlify",
    url: "https://www.netlify.com/",
    cfIcon: "hdfc",
  },
  {
    title: "ICICI Bank",
    icon: "platforms/vercel",
    url: "https://vercel.com/",
    cfIcon: "icici",
  },
  {
    title: "Axis Bank",
    icon: "fa-brands:cloudflare",
    url: "https://pages.cloudflare.com/",
    cfIcon: "axis",
  },
  {
    title: "Kotak Bank",
    icon: "platforms/render",
    url: "https://render.com/",
    cfIcon: "kotak",
  },
  {
    title: "Yes Bank",
    icon: "fa-brands:github",
    url: "https://pages.github.com/",
    cfIcon: "yes",
  },
  {
    title: "State Bank Of India",
    icon: "fa-brands:gitlab",
    url: "https://docs.gitlab.com/ee/user/project/pages/",
    cfIcon: "sbi",
  },
];
---

<ContentSection title="Compatibility" id="compatibility">
  <Fragment slot="lead">
    Flowwise <span class="text-primary">plays nice.</span>. Bring your own Payment{" "}
    <span class="text-primary">Processor</span>
    and deploy in your <span class="text-primary">platform</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Fintechs"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={platforms}
    title="Banks"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
